.Custo{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    /* background-color: antiquewhite; */
}
input[type="text"] {
    text-align: center;
    font-weight: bold;
    font-display: 56px;
  }
.container1{
    /* background-color: aquamarine; */
    border:rgb(68, 70, 70);
    border-radius: 10px;
}
.navbar-brand:active{
color: red;
}
#item1{
    padding-left: 10%;
}
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 60px;
}
.container{
    height: 50px;

}
.dropdown-item{
    text-align: center;
     color: rgb(240, 231, 231);
     background-color: black;
}
img{
    padding-bottom: 50px;
}
.rec{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    /* background-color: antiquewhite; */
}
body {
    background-image: url("C:\Users\Administrator\Desktop\DBS_Training\myapp\public\assets\images\Log.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
   /* background-size: cover;  */
   background-color: rgb(17, 1, 1);
   background-position:  center right;
   }
.cus{
color: white;
}
.in{
    color:aliceblue ;
    font-weight: bold;
}
h2{
    color: aliceblue;
    padding-left: 450px;
    padding-bottom: 50px;
}